*{box-sizing: border-box;}
body{font-family: 'Noto Sans KR', sans-serif;}


/* commom */
header{width: 100%; height: 135px; background: #f1f1f1;}
h1{font-weight: 700; text-align: center;}
.sub{font-weight: 300; text-align: center; margin-top: 10px;}

.recipe .button{display: flex;}
.recipe .btn{width: 300px; height: 70px;
background: #1ECAD3; border-radius: 20px;
text-align: center; line-height: 70px;
margin-right: 20px; cursor: pointer;}
.recipe .btn a{color: #fff; font-size: 20px;}
.recipe .zzim{cursor: pointer;}

.review h1{font-family: 'Montserrat', sans-serif;}
.review{border: 5px solid #ff753c;}
.reviewBox .story{border: 3px solid #777;
border-radius: 50px; margin: 10px;}


/* playlist */
.playList{width: 100%; height: 100vh; border: 5px solid #1ECAD3;}





/* mobile */
@media screen and (max-width:767px){
    /* playlist */
    h1{font-size: 40px; color: #1ECAD3;
    margin-top: 70px;}
    .sub{font-size: 20px;}

    /* recipe */
    .recipe .txt{text-align: center;}
    .recipe .icon{display: none;}
    .recipe .btn{margin: auto;}
    .recipe .zzim{display: none;}
    .food{text-align: center;}
    .food img{width: 70%;}

    /* review */
    .reviewBox{width: 90%; margin: 50px auto;}
    .reviewBox .box1{display: flex; flex-wrap: wrap;}
    .story1,.story2{width: 185px; height: 185px;}
    .story3{width: 390px; height: 400px;}
    .story4{width: 390px; height: 200px;}

    /* footer */
    footer{height: 415px; background: #555;}


    
    /* ----------------------------------------------------- */
    /* swiper2 */
    .enjoySwiper2{width: 100%; height: 130vh;}

}

/* tablet */
@media screen and (min-width:768px){
    /* playlist */
    h1{font-size: 50px; color: #1ECAD3;
    margin-top: 100px;}
    .sub{font-size: 26px;}

    /* recipe */
    .recipe .txt{text-align: center;}
    .recipe .icon{display: none;}
    .recipe .button{justify-content: center;}
    .food{text-align: center;}
    .food img{width: 60%;}

    /* review */
    .review{height: 260vh;}
    .reviewBox{width: 80%; margin: 70px auto;}
    .reviewBox .box1{display: flex; flex-wrap: wrap;}
    .story1,.story2{width: 284px; height: 284px;}
    .story3{width: 590px; height: 600px;}
    .story4{width: 590px; height: 300px;}

    /* footer */
    footer{width: 100%; height: 390px; background: #555;}


    /* ----------------------------------------------------- */
    /* swiper2 */
    .enjoySwiper2{width: 100%; height: 170vh;}

}
 
/* pc */
@media screen and (min-width:1280px){
    /* playlist */
    h1{font-size: 50px; color: #1ECAD3;}
    .sub{font-size: 26px;}

    /* recipe */
    .article{border: 1px solid #000;}
    .food{border: 1px solid #000;}
    .food img{width: 70%;}

    .recipe h1{margin-top: 0;}
    .recipe h1,.recipe .sub,.recipe .txt,.food{text-align: left;}

    .recipe .icon{display: block;}
    .recipe .icon ul{display: flex; align-items: center;}
    .recipe .icon ul li{background: #f1f1f1; width: 80px; height: 80px;
    border-radius: 50%; text-align: center; margin: 0 5px;}
    .recipe .icon ul li img{width: 30px; height: 30px; margin-top: 10px;}
    .recipe .button{justify-content: left;}

    /* review */
    .review{width: 100%; height: 150vh;}
    .reviewBox{display: flex; justify-content: space-between;}
    .story3{width: 560px; height: 600px;}
    .story4{width: 290px; height: 600px;}


    /* ----------------------------------------------------- */
    /* swiper2 */
    .enjoySwiper2{height: 100vh;}
    .swiper-slide{display: flex; justify-content: space-between;
    align-items: center; width: 1200px;}

}




.swiper-pagination-bullet{width: 20px; height: 20px;
    text-align: center; line-height: 20px; font-size: 12px;
    color: #000; opacity: 1; background: rgba(0, 0, 0, 0.2);}
    .swiper-pagination-bullet-active{
    color: #fff; background: #1ECAD3;}
