*{box-sizing: border-box;}
body{font-family: 'Noto Sans KR', sans-serif;}


/* commom */
h1{font-weight: 700; text-align: center;}
.sub{font-weight: 300; text-align: center; margin-top: 10px;}

.recipe .button{display: flex;}
.recipe .btn{width: 300px; height: 70px;
background: #1ECAD3; border-radius: 20px;
text-align: center; line-height: 70px;
margin-right: 20px; cursor: pointer;}
.recipe .btn a{color: #fff; font-size: 20px;}
.recipe .zzim{cursor: pointer;}
.recipe .txt .hash{color: #999;}

.review h1{font-family: 'Montserrat', sans-serif;}
.reviewBox .story{box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);
border-radius: 25px; margin: 10px; padding: 25px;}
.story3 img{margin-top: 25px; width: 100%;}
.story4{display: flex;}
.subtit{color: #999; font-size: 14px;}
.review .tit{color: #1ECAD3; font-weight: 700;
padding-bottom: 25px; font-size: 22px;}


/* playlist */
.playList{width: 100%; height: 100vh; border: 5px solid #1ECAD3;}





/* mobile */
@media screen and (max-width:767px){
    /* playlist */
    h1{font-size: 40px; color: #1ECAD3;
    margin-top: 70px;}
    .sub{font-size: 20px;}

    /* recipe */
    .recipe .txt{text-align: center;}
    .recipe .icon{display: none;}
    .recipe .btn{margin: auto;}
    .recipe .zzim{display: none;}
    .food{text-align: center;}
    .food img{width: 70%;}

    /* review */
    .reviewBox{width: 90%; margin: 50px auto;}
    .reviewBox .box1{display: flex;}
    .reviewBox .box3{margin-top: 20px;}
    .story4 img{margin-left: 25px;}

    .message{font-size: 18px;}
    
    /* ----------------------------------------------------- */
    /* swiper2 */
    .enjoySwiper2{width: 100%; height: 130vh;}
    .swiper-slide{display: flex; flex-wrap: wrap;}
    .article{order: 2;}
}

/* tablet */
@media screen and (min-width:768px){
    /* playlist */
    h1{font-size: 50px; color: #1ECAD3;
    margin-top: 100px;}
    .sub{font-size: 26px;}

    /* recipe */
    .recipe .txt{text-align: center;}
    .recipe .icon{display: none;}
    .recipe .button{justify-content: center;}
    .food{text-align: center;}
    .food img{width: 80%;}

    /* review */
    .review{height: 260vh;}
    .reviewBox{width: 80%; margin: 70px auto;}
    .reviewBox .box1{display: flex;}
    .reviewBox .box3{margin-top: 20px;}
    .story4 img{margin-left: 25px; width: 100%;}

    .message{font-size: 20px;}

    /* ----------------------------------------------------- */
    /* swiper2 */
    .enjoySwiper2{width: 100%; height: 170vh;}
    .swiper-slide{display: flex; flex-wrap: wrap;}
    .article{order: 2;}

}
 
/* pc */
@media screen and (min-width:1280px){
    /* playlist */
    h1{font-size: 50px; color: #1ECAD3;}
    .sub{font-size: 26px;}

    /* recipe */
    .food img{width: 70%;}

    .recipe h1{margin-top: 0;}
    .recipe h1,.recipe .sub,.recipe .txt,.food{text-align: left;}

    .recipe .txt h3{font-size: 30px; margin-top: 65px;}
    .recipe .txt .hash{font-size: 20px;}
    .recipe .txt .exp{font-size: 22px; margin: 20px 0 65px 0;}

    .recipe .icon{display: block;}
    .recipe .icon ul{display: flex; align-items: center;}
    .recipe .icon ul li{background: #999; width: 120px; height: 120px;
    border-radius: 50%; text-align: center; margin-right: 15px;}
    .recipe .icon ul li p{color: #fff; font-size: 14px;}
    .recipe .icon ul li:nth-child(1) img{width: 50%; margin-top: 10px;}
    .recipe .icon ul li:nth-child(2) img,.recipe .icon ul li:nth-child(3) img
    {width: 60%; margin: 30px 0 10px 0;}
    .recipe .button{justify-content: left; margin-top: 65px;}

    /* review */
    .review{width: 100%; height: 100vh;}
    .reviewBox{display: flex; justify-content: space-between; width: 65%;}
    .reviewBox .box1{display: flex; flex-direction: column;}
    .reviewBox .box3{margin-top: 0px;}
    .story3 img{margin: 40px 0 0 0;}
    .story4{flex-direction: column; width: 100%;}
    .story4 img{margin: 38px 0 0 0;}
    

    /* ----------------------------------------------------- */
    /* swiper2 */
    .enjoySwiper2{height: 100vh;}
    .swiper-slide{display: flex; flex-wrap: wrap;
    flex-direction:column;}
    .tit{order: 0;}
    .article{order: 1;}
    .food{order: 2;}
}




.swiper-pagination-bullet{width: 20px; height: 20px;
    text-align: center; line-height: 20px; font-size: 12px;
    color: #000; opacity: 1; background: rgba(0, 0, 0, 0.2);}
    .swiper-pagination-bullet-active{
    color: #fff; background: #1ECAD3;}
