*{box-sizing: border-box;}
body{font-family: 'Noto Sans KR', sans-serif;}


/* commom */
h1{font-weight: 700; text-align: center;}
.sub{font-weight: 300; text-align: center; margin-top: 10px;}

.recipe .btn{width: 300px; height: 70px;
background: #1ECAD3; border-radius: 20px;
text-align: center; line-height: 70px;
margin-right: 20px; cursor: pointer;}
.recipe .btn a{color: #fff; font-size: 20px;}
.recipe .zzim{cursor: pointer;}
.recipe .txt .hash{color: #999;}

.review h1{font-family: 'Montserrat', sans-serif;}
.reviewBox .story{box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);
border-radius: 25px; margin: 8px; padding: 25px;}
.story3 img{margin-top: 49px; width: 100%;}
.story4{display: flex;}
.subtit{color: #999; font-size: 14px;}
.review .tit{color: #1ECAD3; font-weight: 700;
padding-bottom: 25px; font-size: 22px;}

/* recipe---------------------------------------------------------- */
.recipe{
    width: 100%;
    height: 115vh;
    position: relative;
    background: #f6f6f6;
}

.recipe .inner{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

 .enjoySwiper2{width: 100%; height: 100%;}
 .enjoySwiper2 .swiper-slide{
     display: flex; flex-wrap: wrap;
     position: relative;
}

.enjoySwiper2 .swiper-slide .food{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.enjoySwiper2 .swiper-slide .food img{
    width: 100%;
    height: 100%;
}

.enjoySwiper2 .swiper-slide .tit{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
}

.enjoySwiper2 .swiper-slide .tit h1,.enjoySwiper2 .swiper-slide .tit .sub,.enjoySwiper2 .swiper-slide .txt .exp{white-space: nowrap;}

.enjoySwiper2 .swiper-slide .article{
    position: absolute;
    bottom: 40px;
    top: 54%;
    left: 50%;
    transform: translate(-50%);
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom: 70px;}


/* playlist---------------------------------------------------------- */

.playList{width: 100%;}
.playList h1{font-size: 40px;}
.playList p{font-size: 20px;}

.platlist_slide{width: 100%; height: 250px; margin: 50px 0 90px 0;}

.platlist_slide .swiper-slide{text-align: center; font-size: 18px;
background: #fff; display: flex; justify-content: center;
align-items: center; width: 90%; height: 100%; position: relative;}

.platlist_slide .swiper-slide .desc{width: 85%; position: absolute;
color: white; text-align: left; left: 50%; bottom: 5%; transform: translate(-50%);}

.platlist_slide .swiper-slide .desc h4,
.platlist_slide .swiper-slide .desc p{font-size: 10px;}
.platlist_slide .swiper-slide .desc .p_box{display: flex;
justify-content: space-between;}

.platlist_slide .swiper-slide .desc .time_box{display: flex;
justify-content: space-between; font-size: 6px;}
.platlist_slide .swiper-slide .desc .progress{display: block;
width: 100%; height: 1px; background: white; margin: 5px 0;}

.platlist_slide .swiper-slide .desc .span_box{display: flex;}
.platlist_slide .swiper-slide .desc .span_box span{padding: 0 3px;}
.platlist_slide .swiper-slide .desc img{width: 20px; height: 20px;}

.platlist_slide .swiper-slide >img {width: 90%; height: 100%;
display: block; object-fit: cover; border-radius: 30px;}

.platlist_slide .swiper-slide.on{text-align: center; font-size: 18px;
background: #fff; display: flex; justify-content: center;
align-items: center; width: 100%; height: 100%;}

.platlist_slide .swiper-slide.on .desc{width: 85%; position: absolute;
color: white; text-align: left; left: 50%; bottom: 5%; transform: translate(-50%);}

.platlist_slide .swiper-slide.on >img {width: 90%; height: 100%;
display: block; object-fit: cover; border-radius: 30px;}

/* ------------------------------------------------------------ */




/* mobile */
@media screen and (max-width:767px){
    /* playlist */
    .playList h1,.recipe h1,.review h1{font-size: 40px; color: #1ECAD3;
    margin-top: 70px;}
    .sub{font-size: 20px;}

    /* recipe */
    .recipe .txt{text-align: center;}
    .recipe .icon{display: none;}
    .recipe .btn{margin: auto;}
    .recipe .zzim{display: none;}
    .recipe h3{font-size: 26px;}
    .recipe .hash{font-size: 20px;}
    .recipe .exp{font-size: 18px; padding: 20px 0 50px 0;}
    .food{text-align: center;}

    /* review */
    .review{margin-bottom: 70px;}
    .reviewBox{width: 90%; margin: 50px auto;}
    .reviewBox .box1{display: flex;}
    .reviewBox .box3{margin-top: 20px;}
    .story4 img{margin-left: 25px;}

    .message{font-size: 18px;}

}

/* tablet */
@media screen and (min-width:768px){
    /* playlist */
    .playList h1,.recipe h1,.review h1{font-size: 50px; color: #1ECAD3;
    margin-top: 100px;}
    .sub{font-size: 26px;}

    /* recipe */
    .recipe{    overflow: hidden;}
    .recipe .tit h1{text-align: left;}
    .recipe .icon{display: block;}
    .recipe .icon ul{display: flex; align-items: center;}
    .recipe .icon ul li{background: #999; width: 120px; height: 120px;
    border-radius: 50%; text-align: center; margin-right: 15px;}
    .recipe .icon ul li p{color: #fff; font-size: 14px;}
    .recipe .icon ul li:nth-child(1) img{width: 50%; margin-top: 10px;}
    .recipe .icon ul li:nth-child(2) img,.recipe .icon ul li:nth-child(3) img
    {width: 60%; margin: 30px 0 10px 0;}
    .recipe .button{display: flex; justify-content: left; margin-top: 30px;}

    .recipe .button{justify-content: center; display: flex;}
    .recipe h3{font-size: 36px;}
    .recipe .hash{font-size: 20px;}
    .recipe .exp{font-size: 22px; padding: 10px 0 70px 0;}
    .food{text-align: center;}

    /* review */
    .review{margin-bottom: 100px;}
    .reviewBox{width: 80%; margin: 70px auto;}
    .reviewBox .box1{display: flex;}
    .reviewBox .box3{margin-top: 20px;}
    .story4 img{margin-left: 25px; width: 100%;}

    .message{font-size: 20px;}


    /* recipe--------------------------------------------------------- */
    .enjoySwiper2 .swiper-slide .food{
        position: absolute;
        width: 450px;
        height: 450px;
        top: 50%;
        left: 72%;
        transform: translate(-50%, -50%);
    }
    
    .enjoySwiper2 .swiper-slide .food img{
        width: 100%;
        height: 100%;
    }
    
    .enjoySwiper2 .swiper-slide .tit{
        position: absolute;
        left: 100px;
        top: 0;
        transform: translate(0);
    }
    
    .enjoySwiper2 .swiper-slide .article{
        position: absolute;
        bottom: 40px;
        top: 300px;
        left: 100px;
        transform: translate(0);
    }

    .recipe .inner .bgwhite{
        width: 50%;
        height: 101%;
        background: white;
        position: absolute;
        right: -270px;
        top: -1px;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom: 100px;}


    /* playlist---------------------------------------------------------- */

    .playList{width: 100%;}

    .playList h1{
        font-size: 50px;
    }

    .playList p{
        font-size: 26px;
    }

    .playList p br{
        display: none;
    }

    .platlist_slide{
        height: 350px;
        margin-bottom: 100px;
    }

    .platlist_slide .swiper-slide{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 95%;
      height: 100%;
      position: relative;
    }

    .platlist_slide .swiper-slide >img {
        width: 95%;
        height: 100%;
        display: block;
        object-fit: cover;
        border-radius: 30px;
      }

    .platlist_slide .swiper-slide .desc{
        width: 90%;
    }

    .platlist_slide .swiper-slide .desc h4,
    .platlist_slide .swiper-slide .desc p{
        font-size: 16px;
    }

    .platlist_slide .swiper-slide .desc img{
        width: 27px;
        height: 27px;
    }

    .platlist_slide .swiper-slide.on{
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .platlist_slide .swiper-slide.on .desc{
        width: 60%;
        position: absolute;
        color: white;
        text-align: left;
        left: 50%;
        bottom: 5%;
        transform: translate(-50%);
    }
    
    .platlist_slide .swiper-slide.on >img {
        width: 65%;
        height: 100%;
        display: block;
        object-fit: cover;
        border-radius: 30px;
    }

  /* ------------------------------------------------------------ */

}
 
/* pc */
@media screen and (min-width:1280px){
    /* playlist */
    .playList h1,.recipe h1,.review h1{font-size: 50px; color: #1ECAD3; margin-top: 150px;}
    .sub{font-size: 26px;}

    /* recipe */
    .recipe{height: 110vh;}
    .recipe h1{margin-top: 150px;}
    .recipe h1,.recipe .sub,.recipe .txt,.food{text-align: left;}

    .recipe .txt h3{font-size: 30px; margin-top: 65px;}
    .recipe .txt .hash{font-size: 20px;}
    .recipe .txt .exp{font-size: 22px; margin: 20px 0 65px 0; padding: 0;}


    /* review */
    .review{width: 100%; height: 100vh; max-width: 1200px; margin: auto;}
    .reviewBox{display: flex; justify-content: space-between; width: 100%; height: 557px;}
    .reviewBox .box1{display: flex; flex-direction: column;}
    .reviewBox .box3{margin-top: 0px;}
    .story4{flex-direction: column; width: 100%; height: 100%;}
    .story4 img{margin: 40px 0 0 0;}
    .story3{width: 97%; height: 100%;}
    .story1,.story2{width: 340px; height: 270px;}
    .message{font-size: 20px;
        width: 100%;
        height: 146px;
        white-space: wrap;
        text-overflow: ellipsis;
        overflow: hidden;}
    .box1 .message{height: 150px;}

    /* recipe------------------------------------------------------------ */
    .enjoySwiper2 .swiper-slide .tit,.enjoySwiper2 .swiper-slide .article{left: 0;}
    .enjoySwiper2 .swiper-slide .article{top: 250px;}
    .enjoySwiper2 .swiper-slide .food{width: 550px; height: 550px;}
    .recipe .inner .bgwhite{
        width: 56%; right: -348px;
    }




    /* playlist---------------------------------------------------------- */

    .playList{
        max-width: 1200px;
        margin: auto;
        width: 100%;
        height: 1110px;
    }

    .playList h1{
        font-size: 50px;
    }

    .playList p{
        font-size: 26px;
    }

    .playList p br{
        display: none;
    }

    .platlist_slide{
        width: 100%;
        height: 100%;
        margin-bottom: 100px;
    }

    .platlist_slide .swiper-slide{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 790px;
        height: 379px;
        position: relative;
    }

    .platlist_slide .swiper-slide.sl1{
        left: 0;
        top: 0;
    }

    .platlist_slide .swiper-slide.sl2{
        right: -25px;
        top: 0;
    }

    .platlist_slide .swiper-slide.sl3{
        left: -765px;
        bottom: -402px;
    }

    .platlist_slide .swiper-slide.sl4{
        left: -1966px;
        bottom: -402px;
    }

    .platlist_slide .swiper-slide >img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        border-radius: 30px;
        }

    .platlist_slide .swiper-slide .desc{
        width: 90%;
    }

    .platlist_slide .swiper-slide .desc h4,
    .platlist_slide .swiper-slide .desc p{
        font-size: 16px;
    }

    .platlist_slide .swiper-slide .desc img{
        width: 27px;
        height: 27px;
    }

    .platlist_slide .swiper-slide.on{
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 385px;
        height: 379px;
    }

    .platlist_slide .swiper-slide.on .desc{
        width: 60%;
        position: absolute;
        color: white;
        text-align: left;
        left: 50%;
        bottom: 5%;
        transform: translate(-50%);
    }

    .platlist_slide .swiper-slide.on >img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        border-radius: 30px;
    }
  /* ------------------------------------------------------------ */
}


.swiper-pagination-bullet{width: 15px; height: 15px;
    text-align: center; line-height: 20px; font-size: 12px;
    color: #000; opacity: 1; background: #fff;}
.swiper-pagination-bullet-active{color: #fff; background: #1ECAD3;}
