@charset "UTF-8";

*{text-align: center;}
/* header, footer{height: 10vh; border: 1px solid #000; background: rgb(182, 228, 255);}
header li{display: inline-block;} */
header{ z-index: 9999; background: white;}
p.mask{font-size: 16px; 
    white-space: nowrap;
    background: #FF8654; 
    color: #fff; 
    height: 50px; width: 100%; 
    text-align: center; 
    display: flex; justify-content: center; 
    align-items: center;}
p.mask span{width: 20px;}
p.mask span img{width: 100%;}
header nav{display: flex; justify-content: space-between; align-items: center; font-family: 'Montserrat', sans-serif; height: 85px; width: 90%;margin: auto; }
.logo{width: 170px;}
.logo a img{width: 100%;}
.mainmenu{display: none; text-align: center; position: absolute; width: 100%; }
#wrap{display: none;}
#intro{height: 100vh; color:#fff; background: rgb(65, 65, 65);}
#intro a{display: inline-block; color:#fff; border: 1px solid #fff; padding:10px;}

/* Mobile */
@media screen and (max-width:767px){
    .mainmenu{left: 0; top: 135px; z-index: 9999;}
    .mainmenu li a{display: block; padding: 10px 0; background: #ffffffd0;  z-index: 999999;font-size: 16px;}
    .mainmenu li:hover a{color: #1ecad3; font-weight: 600; font-size: 17px;}
}

/* Tablet */
@media screen and (min-width:768px){
    header nav{ width: 80%;}
    p.mask{font-size: 20px;}
    p.mask span{width: auto;}
    .logo{width: 200px;}
    .bar{display: none;}
    .mainmenu{display: flex; justify-content: space-between;  height: 100%; left: 0; top: 0px; align-items: center; width: 350px;}
    .mainmenu li a{display: block; color: #999; font-weight: 300;  font-size: 18px;}
    .mainmenu li:hover a{color: #1ecad3; font-weight: 600; font-size: 19px;}
    
}

/* PC */
@media screen and (min-width:1280px){
    header nav{ width: 1200px;}
    .mainmenu{width: 400px;}
}